
:root {
    --title-font: 'Inter', sans-serif;
    --text-color-base: #FFFFFF;
    --main-color: #222021;
    --color-base-input: #728BAD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,html{
    font-family: var(--title-font);
    color: var(--text-color-base);
    background: var(--main-color);
    font-size: calc(15px + 0.390625vw);
}

.section-logo {
    width: 40%;
    background-image: url('../assets/images/background-min.jpg');
    background-position: center;
    background-size: cover;
}

.section-img-logo{
    background: none;
}

.section-logo-label{
    display: block;
    background: rgba(4, 3, 3, 0.58);
    height: 6rem;
    margin-top: 25%;
}

.section-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.section-info div p {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.2rem;
}

.section-form-sign-up {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px -2px rgb(22 22 22);

}

.form-sign-up {
    width: 70%;
}

.form-sign-up ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1.2rem;

}

.form-sign-up ul li {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-sign-up ul li input {
    border: 1px solid var(--color-base-input);
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.form-sign-up ul li label {
    margin-bottom: 0.3rem;
    font-size: 0.5rem;
    letter-spacing: 2px;
}

.section-button-create-account {
    padding: 0 1rem;
}

.button-create-account {
    border-radius: 0.4rem;
    border: none;
    font-size: 0.7rem;
    padding: 0.5rem 2rem;
    background: var(--color-base-input);
    display: block;
}

.section-label-create-account {
    display: block;
    margin-top: 1rem;
    font-size: 0.7rem;
}

.section-label-create-account span {
    font-size: 0.7rem;
    color: var(--color-base-input);
}

@media screen and (max-width: 1400px) {
    .form-sign-up {
        width: 100%;
    }

    .form-sign-up ul li {
        width: 47%;
    }
}

@media screen and (max-width: 769px) {

    body {
        flex-direction: column;
        align-items: center;
    }

    .section-logo {
        width: 100%;
        height: 30%;
    }

    .section-info {
        width: 100%;
    }


    .form-sign-up {
        width: 100%;
    }

    .form-sign-up ul {
        justify-content: center;
    }

    .section-info div p {
        text-align: center;
    }

    .section-logo-label{
        margin-top: 10%;
    }
}

@media screen and (max-width: 610px) {
    .form-sign-up {
        width: 100%;
    }

    .form-sign-up ul li {
        width: 70%;
    }

    .section-button-create-account {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
